/* @font-face kit by Fonts2u (https://fonts2u.com) */ 
@font-face {
    font-family:"Final Frontier Old Style";
    src: url("../font/FINALOLD.eot") format("eot"),
    url("../font/FINALOLD.woff") format("woff"),
    url("../font/FINALOLD.ttf") format("truetype"),
    url("../font/FINALOLD.svg") format("svg");
    font-weight:normal;
    font-style:normal;
}

/* body {
    background-color: black;
} */


h1 {
    font-family: "Final Frontier Old Style";
    font-size: 100px;
    color: gold;
    text-align: center;
}

#enterprise {
    display: block;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    ;
}

#input {
    text-align: center;
    display: block;
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    border: solid black 2px;
}

#music-div {
    display: block;
    font-family: "Final Frontier Old Style";
    color: gold;
    font-size: 30px;

    
}
